
<div class="error-container">
  <div class="top">
    <h1> Oops ! The link you provided is not valid and thus can't be Babyfied ! </h1>
  </div>
  <div class="element" id="back-error"><a href="/">Back</a></div>
</div>
