
<div class="content-container">
  <div class="top">
    <h1>BabyUrl - a solution for minimizing Urls</h1>
  </div>  

  <div class="middle">

    <div id="input-banner">
      Babify can help you reduce the length of any Url in just one click!
    </div>

    <div id="form-container">
      <form accept-charset="UTF-8" action="/urls" method="post">
        <input type="text" name="url[url_in]" id="input-url" title="Enter here the url you want to babify" />
        <input id="submit" type="submit" value="Babify the Url" /> 
      </form>
    </div>

    <div id="list">
      <div class="element" id="first">Enter a long Url</div>
      <div class="element" id="second">Click the "Babify" button</div>
      <div class="element" id="third">Get your new link and track how much it is used</div>
      <div class="element" id="fourth">Voila!</div>
    </div>
  </div>

  <div id="footer">
  </div>

</div>

